<main>
  <header class="md:sticky top-0 left-0 right-0 z-30  bgr flex items-center md:justify-between md:px-20  w-full py-6">
    <button (click)="toggleMenu()" class="bgr z-40 md:hidden fixed left-4">
      <svg  width="30px" height="30px" viewBox="0 0 512.00 512.00"
        version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"
          stroke="#CCCCCC" stroke-width="3.072"></g><g id="SVGRepo_iconCarrier">
            <g id="Page-1" stroke-width="0.00512" fill="none" fill-rule="evenodd">
              <g id="app-main-menu"
              fill="#ffffff" transform="translate(42.666667, 106.666667)">
              <path d="M3.55271368e-14,4.26325641e-14 L426.666667,4.26325641e-14 L426.666667,42.6666667 L3.55271368e-14,42.6666667 L3.55271368e-14,4.26325641e-14 Z M3.55271368e-14,128 L426.666667,128 L426.666667,170.666667 L3.55271368e-14,170.666667 L3.55271368e-14,128 Z M3.55271368e-14,256 L426.666667,256 L426.666667,298.666667 L3.55271368e-14,298.666667 L3.55271368e-14,256 Z" id="Combined-Shape"> </path>
              </g> </g> </g>
      </svg>
    </button>
      <div class="font-bold text-white flex justify-center md:justify-start w-full md:w-1/5">
          <h2 class="text-xl">Food Blog</h2>
      </div>

<!-- Desktop Menu-->
      <div class="hidden md:flex md:w-5/6 text-lg font-bold text-white justify-end">
        <ul class="flex space-x-4">
          <li [ngClass]="{'underline':activeRoute === 'home'}"
              class="underline-offset-4"
              (click)="toggleRoute('home')">
            <a routerLink="home">Home</a>
          </li>
          <li [ngClass]="{'underline':activeRoute === 'recipes'}"
               class="underline-offset-4"
               (click)="toggleRoute('recipes')">
            <a routerLink="recipes">Recipes</a>
          </li>
          <li [ngClass]="{'underline':activeRoute === 'about'}"
              class="underline-offset-4"
              (click)="toggleRoute('about')">
            <a routerLink="about">About Us</a>
          </li>
          <li [ngClass]="{'underline':activeRoute === 'contact'}"
              class="underline-offset-4"
              (click)="toggleRoute('contact')">
            <a routerLink="contact">Contact</a>
          </li>
          <app-theme-toggle></app-theme-toggle>

        </ul>
      </div>
  </header>

<!--Mobile Menu-->
  <div class="md:hidden z-30 fixed top-0 left-0 right-0 shadow-md px-12 bg-white text-black transition-all duration-300"
    [ngClass]="{
      'hidden':!isMenuOpen,
      'py-20':isMenuOpen
    }">
    <ul class="flex flex-col space-y-4">
          <li [ngClass]="{'underline':activeRoute ==='home'}"
              class="underline-offset-4"
              (click)="toggleRoute('home'); toggleMenu()">
              <a routerLink="home">Home</a>
          </li>

          <li [ngClass]="{'underline':activeRoute === 'recipes'}"
              class="underline-offset-4"
              (click)="toggleRoute('recipes'); toggleMenu()">
              <a routerLink="recipes">Recipes</a>
          </li>

          <li [ngClass]="{'underline':activeRoute === 'about'}"
              class="underline-offset-4"
              (click)="toggleRoute('about'); toggleMenu()">
              <a routerLink="about">About Us</a>
          </li>

          <li [ngClass]="{'underline':activeRoute === 'contact'}"
              class="underline-offset-4"
              (click)="toggleRoute('contact'); toggleMenu()">
              <a routerLink="contact">Contact</a>
          </li>
          <app-theme-toggle></app-theme-toggle>
    </ul>
  </div>
  <section class="">
      <router-outlet></router-outlet>
  </section>

  <footer class="w-full bg-gray-900 flex items-center justify-center py-10 md:py-20 px-5 md:px-10">
      <p class="text-lg text-gray-600 font-light text-center"> ©2025. Food Blog by RANDRIAMANANA Aina Lovasoa Sébastien</p>
  </footer>
</main>
